In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
gca = pd.read_csv('/Users/amitmishra/epl_2425/data/player_gca_2025_cleaned.csv')

In [4]:
gca = gca.drop(columns=['Age', 'Born', 'Nation', 'Matches'], axis = 1)

In [5]:
gca.columns

Index(['Player', 'Pos', 'Squad', '90s', 'SCA', 'SCA90', 'SCA_PassLive',
       'SCA_PassDead', 'SCA_TO', 'SCA_Shot', 'SCA_Fld', 'SCA_DefAct', 'GCA',
       'GCA90', 'GCA_PassLive', 'GCA_PassDead', 'GCA_TO', 'GCA_Shot',
       'GCA_Fld', 'GCA_DefAct'],
      dtype='object')

In [9]:
gca['gcapasslive_rank'] = gca['GCA_PassLive'].rank(pct=True)*100

In [10]:
cols = ['Player', 'Pos', 'Squad', 'gcapasslive_rank']

In [15]:
gca[gca['Pos'] == 'MF'][cols]

              Player Pos            Squad  gcapasslive_rank
1        Tyler Adams  MF      Bournemouth         73.949580
5     Asher Agbinone  MF   Crystal Palace         19.327731
11    Carlos Alcaraz  MF      Southampton         19.327731
17     Edson Álvarez  MF         West Ham         64.453782
21    Mathis Amougou  MF          Chelsea         19.327731
..               ...  ..              ...               ...
573     Adam Wharton  MF   Crystal Palace         80.924370
581      Harry Winks  MF   Leicester City         64.453782
587  Yehor Yarmoliuk  MF        Brentford         64.453782
588       Ryan Yates  MF  Nott'ham Forest         64.453782
594  Martin Ødegaard  MF          Arsenal         58.235294

[112 rows x 4 columns]

In [43]:
gca[(gca['Pos'] == 'MF') & (gca['gcapasslive_rank'] > 85)][cols].sort_values(by='gcapasslive_rank', ascending  = False)

                Player Pos            Squad  gcapasslive_rank
473       Ismaila Sarr  MF   Crystal Palace         95.462185
528    Youri Tielemans  MF      Aston Villa         95.462185
101      Ryan Christie  MF      Bournemouth         93.781513
534      Sandro Tonali  MF    Newcastle Utd         93.781513
217   Ryan Gravenberch  MF        Liverpool         89.663866
302      Mateo Kovačić  MF  Manchester City         89.663866
451        Declan Rice  MF          Arsenal         89.663866
172  Christian Eriksen  MF   Manchester Utd         86.050420
347    Pape Matar Sarr  MF        Tottenham         86.050420